@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Jost&display=swap');

html, body {
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Catamaran', sans-serif;
}




/* Button styling froom tailwind so the class name can be shorter */
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-indigo {
  @apply bg-indigo-500 text-black;
}
.btn-indigo:hover {
  @apply bg-stone-900;
}

.btn-2{
  @apply bg-transparent w-full hover:bg-indigo-500 text-black font-semibold hover:text-black py-2 px-4 border border-indigo-500 hover:border-transparent rounded;
}


/* WRAPPER for question card */
#wrapper-div{
  max-width: 1100px;
  background: #ebfeff;
  border-radius: 10px;
  border: 2px solid #0085a3;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25)
}

/* Button Wrapper */
type ButtonWrapperProps = {
  correct: boolean;
  userClicked: boolean;
}



#button-wrapper{
  transition: all 0.3s ease;
}

#button-wrapper:hover{
  opacity: 0.8;
}

/* #button-stuff{
  background: ${({ correct, userClicked }) => 
    correct
      ? 'linear-gradient(90deg, #56ffa4, #59bc86)'
      : !correct && userClicked 
      ? 'linear-gradient(90deg, #ff5656, #c16868)'
      : 'linear-gradient(90deg, #56ccff, #6eafb4)'
};

  border: 3px solid #fff;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow
} */

